*{
	background-color: rgb(255, 255, 255);
	padding: 0px;

}


@media (min-width:670px){
	#menu{
		background-color: white;
		height: 100%;
		width: 50px;
		margin-left: -10px;
		margin-top: -20px;
		z-index: 999;
		position: fixed;
		padding: 20px;
		display: block;
		transition: ease-in-out 0.2s;
		box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	}

	#overlay-sidebar{
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.46);
		position: fixed;
		display: none;
		z-index: 2;
		top: 0;
		left: 0;
		transition: 0.8s;
	}
	#span{
		margin-left: 100%;
		margin-top: 20px;
		font-size: 60px;
		width: 50px;
		height: 50px;
		background-color: white;
		padding-left: 30px;
		padding-bottom: 10px;
		border-radius: 20px;
		color: blue;
		font-weight: 800;
		cursor: pointer;
		display: none;
		box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

	}
	.span2{
		align-self: right;
		margin-left: 100%;
		margin-top: 20px;
		font-size: 40px;
		width: 40px;
		height: 40px;
		background-color: white;
		padding: 10px;
		border-radius: 20px;
		color: blue;
		font-weight: 800;
		cursor: pointer;
		display: block;
		box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

	}
	#pages{
		display: none;
		background-color: whitesmoke;
		border-radius: 10px;
		height: 95%;
		margin-top: 50px;
		width: 100%;
		transition: ease-out 0.8s;

	}
	.pages hr{
		width: 30%;
		font-weight: 700;
	}
	.home{
		display: flex;
		justify-content: space-evenly;
		margin: 10px;
		border-radius: 10px;
		height: 70px;
		background-color: whitesmoke;
	}
	.home-icon{
		padding: 10px;
		width: 150px;
		margin: 10px;
		border-radius: 10px;
		height: 30px;
		background-color: transparent;
	}
	.home-icon img{
		width: 50%;
		aspect-ratio: 3/2;
		background-color: transparent;
		object-fit: contain;
		margin-left: 10px;
		margin-top: -5px;
		position: relative;
	}
	.home-icon a{
		text-decoration: none;
		background-color: transparent;
	}
	.home-label{
		background-color:transparent;
		padding: 10px;
		width: 250px;
		margin: 10px;
		border-radius: 10px;
		height: 30px;
		text-align: center;
		}

	.home-label a{
		text-decoration: none;
		background-color: transparent;
		font-size: 12px;
		font-weight: 600;
		text-align: center;
		margin-left: 10px;
		margin-top: -20px;

	}
	.home-label h4{
		font-size: 20px;
		font-weight: 800;
		background-color: transparent;
		margin-right: 0px;
		margin-top: 10px;
		text-align: left;
		font-family: monospace;
		margin-left: -20px;
		position: fixed;
	}
	.home:hover{
		background-color: rgb(113, 249, 249);
		transition: ease-in-out 0.5s;

	}
	#icons{
		margin-top: 50px;
		display: block;
		height: max-content;
		width:50px;
		background-color: transparent;
		margin-left: -10%;
		transition: ease-in-out 0.5s;
	}
	.home-icon2{
		background-color: whitesmoke;
		height: max-content;
		width: 50px;
		margin-bottom: 40px;
		padding: 5px;
		align-content: center;
		border-radius: 10px;
	}
	.home-icon2 img{
		object-fit: contain;
		aspect-ratio: 3/2;
		width: 100%;
		background-color: transparent;
	}
	.home-icon2 a{
		background-color: transparent;
		
	}
	.home-icon2:hover{
		background-color: rgb(113, 249, 249);
	}





	#main{
		margin-left:50px;
		background-color: rgba(255, 255, 255, 0.925);
		height: 100%;
		width: 100%;
		transition: ease-in-out 0.8s;
		padding-right: 0px;
		margin-top: -10px;
		padding-top: 0px;
		display: block;

	}

	.descr{
		background-color: rgb(251, 251, 251);
		width: 100%;
		padding-left: 40px;
		position: fixed;
		height: 700px;
		display: block;
	}
	.descr-heading{
		background-color: transparent;
		padding: 20px;
		height: 250px;
	}
	.descr h1{
		font-family: "Rubik Gemstones", system-ui;
		font-weight: 500;
		background-color: transparent;
		font-style: normal;
		color: rgb(23, 89, 23);
		font-size: 60px;
	}
	.descr h2{
		font-family: "Rubik Gemstones", system-ui;
		font-weight: 700;
		background-color: transparent;
		font-style: normal;
		color: green;
		font-size: 82px;
	}
	.descr-heading h2{
		color: rgb(0, 0, 0);
		background-color: transparent;
		font-weight: 600;
		font-size: 72px;
		margin-top: -20px;
	}
	.profile{
		display: flex;
		justify-content: space-between;
		width: 400px;
		height: 70px;
		margin-left: 10px;
		background-color: transparent;
		border-radius: 20px;
		margin-top: 10px;
		position: fixed;
		z-index: 1;

	}
	.hire-link{
		background-color:transparent;
		text-align: center;
		height: fit-content;
		width: 150px;
		margin-left: 10px;
		
	}
	.hire-link h3{
		padding: 10px;
		background-color: green;
		border-radius: 10px;
		color: white;
		text-transform: capitalize;
		font-family: monospace;
		font-weight: 500;
		border: 3px dotted black;
		cursor: pointer;
	}
	.hire-link h3:hover{
		background-color: blueviolet;
		color: black;

	}
	.learn-more{
		background-color: transparent;
		text-align: center;
		height: 60px;
		width: 150px;
		margin-right: -170px;

	}
	.learn-more h3{
		padding: 10px;
		background-color: rgb(255, 255, 255);
		border-radius: 10px;
		color: rgb(0, 0, 0);
		text-transform: capitalize;
		font-family: monospace;
		font-weight: 500;
		border: 1px dotted black;
		cursor: pointer;
		transition: background-color 0.5s ease;

	}
	.learn-more h3:hover{
		background-color: rgb(222, 197, 246);
		color: black;

	}
	.profile-pic{
		height: 400px;
		margin-top: -80px;
		align-content: right;
		background-color: transparent;

	}
	.profile-pic img{
		width: 40%;
		align-self: center;
		margin-left: 46%;
		position: relative;
		z-index: -1;
		height: 600px;
		object-fit: contain;
		margin-top: -160px;
		background-color: transparent;
		border-radius: 40%;
		border: 2px dotted green;
	}

	.my-work{
		display: flex;
		width: 550px;
		border-radius: 20px;
		height: 100px;
		margin-top: -50px;
		margin-left: 20px;
		padding-left: 10px;
		margin-bottom: 0px;
		box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	}
	.languages{
		display: block;
		height: 100px;
		border-radius: 20px;
	}
	.languages h3{
		font-family: monospace;
		text-align: center;
		font-size: 16px;
	}
	.languages h1{
		font-size: 30px;
		margin-left: 45%;
		margin-top: -10px;
		font-weight: 900;
	}
	.front-end-projects{
		display: block;
		height: 100px;
		border-radius: 20px;

	}
	.front-end-projects h3{
		font-family: monospace;
		text-align: center;
		font-size: 16px;

	}
	.front-end-projects h1{
		font-size: 30px;
		margin-left: 45%;
		margin-top: -10px;
		font-weight: 900;


	}
	.my-work hr{
		margin-left: 10px;
		margin-right: 10px;
	}
	.back-end-projects{
		display: block;
		height: 100px;
		border-radius: 20px;

	}
	.back-end-projects h3{
		font-family: monospace;
		text-align: center;
		font-size: 16px;
	}
	.back-end-projects h1{
		font-size: 30px;
		margin-left: 45%;
		margin-top: -10px;
		font-weight: 900;
	}
	.about{
		height: 1500px;
		background-color: rgb(255, 255, 255);
		position: relative;
		z-index: 1;
		width: 100%;
		right: 0;
		scroll-behavior: smooth;
		margin-left: -10px;
		top: 600px;
		padding-top: 20px;
	}
	.about-me{
		width: 90%;
		background-color: white;
		margin-left: 5%;
		height: 70px;
		text-align: center;
		text-transform: uppercase;
		font-family: monospace;
		padding: 10px;
		font-weight: 800;
	}
	.what-i-do{
		background-color: white;
		width: 90%;
		margin-left:5%;
		height: auto;
		padding: 10px;
		padding-left: 40px;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	}
	.what-i-do p{
		font-size: 22px;
		text-align: left;
		text-align: center;
	}
	.work{
		height: 250px;
		width: 90%;
		margin-left: 5%;
		display: inline-flex;
		background-color: whitesmoke;
	}
	.skills{
		background-color: transparent;
		width: 90%;
		margin-left: 5%;
		margin-top: 0px;
		padding: 10px;
		padding-left: 40px;
		height: 750px;
		display: flex;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;	
	}
	.language{
		background-color: transparent;
		width: 90%;
		margin-left: 5%;
		margin-top: 0px;
		padding: 10px;
		padding-left: 40px;
		height: 600px;
		display: block;

	}
	.skills h2{
		font-weight: 800;
		text-transform: uppercase;
		color: green;
		text-decoration: underline;
		background-color: transparent;
		font-size: 29px;
		font-family: monospace;

	}
	.html{
		background-color: green;
		height: 40px;
		width: 400px;
		border-bottom-right-radius: 20px;
		border-top-right-radius: 20px;
	}
	.html h4{
		background-color: transparent;
		font-weight: 800;
		font-size: 20px;
		color: white;
		text-align: left;
		vertical-align: middle;
		padding: 10px;
		font-family: monospace;

	}
	.css{
		background-color: green;
		height: 40px;
		width: 400px;
		border-bottom-right-radius: 20px;
		border-top-right-radius: 20px;
		}
	.css h4{
		background-color: transparent;
		font-weight: 800;
		font-size: 20px;
		color: white;
		text-align: left;
		vertical-align: middle;
		padding: 10px;
		font-family: monospace;


	}
	.js{
		background-color: green;
		height: 40px;
		width: 300px;
		border-bottom-right-radius: 20px;
		border-top-right-radius: 20px;
	}
	.js h4{
		background-color: transparent;
		font-weight: 800;
		font-size: 20px;
		color: white;
		text-align: left;
		vertical-align: middle;
		padding: 10px;
		font-family: monospace;


	}
	.python{
		background-color: green;
		height: 40px;
		width: 390px;
		border-bottom-right-radius: 20px;
		border-top-right-radius: 20px;

	}
	.python h4{
		background-color: transparent;
		font-weight: 800;
		font-size: 20px;
		color: white;
		text-align: left;
		vertical-align: middle;
		padding: 10px;
		font-family: monospace;
	}
	.other-skills{
		background-color: transparent;
		display: block;
		height: 500px;
		width: 380px;
		
	}
	.other{
		background-color: green;
		width: 90%;
		border: 2px dotted rgb(0, 0, 0);
		border-radius: 2px;
		padding: 10px;
		text-align: center;
		text-decoration: none;
		color: white;
	}
	.other h3{
		background-color: transparent;
		font-size: 18px;
		font-weight: 700;
		font-family: monospace;
	}
	.photography{
		background-color: rgba(255, 255, 255, 0.558);
		width: 90%;
		border: 2px dotted green;
		border-radius: 1px;
		padding: 10px;
		height: 400px;
		text-align: center;
		text-decoration: none;
	}
	.photography img{
		margin-left: -550px;
		width: 300%;
		margin-top: -180px;
		position: relative;
		z-index:-1;
	}
	.photography ul{
		text-align: left;
		font-size: 22px;
		font-family: monospace;
		font-weight: 700;
		margin-top: -600px;
		margin-left: 40px;
		background-color: transparent;
	}
	li{
		margin-bottom: 20px;
		background-color: transparent;
	}

}